{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<a href="{{ url_for('logout') }} " style="margin-top: 3em; margin-left: 2em; position: absolute;">Log out</a>

<div class="container text-center mt-5 pt-5">
    <div class="row">
      <div class="col-8">
        <h2>Welcome, {{ session['username'] }}!</h2>
        {% for story in stories %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ story.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">{{ story.category }}</h6>
                  <p class="card-text">{{ story.content[:30] }}...</p>
                  <a href="#" class="card-link">Edit</a>
                  <a href="#" class="card-link">Delete</a>
                </div>
              </div>            
        {% endfor %}
        
      </div>

      <div class="col-4">

        <h3>Write New Story</h3>
        <form method="POST" action="{{ url_for('submit_story') }}"  enctype="multipart/form-data" class="w-auto p-3 shadow position-fixed">

            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.category }}
            </div>
            <div class="form-group">
                {{ form.content }}
            </div>
            <div class="form-group">
                {{ form.images }}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>            
        </form>

      </div>
      
    </div>
  </div>





    
{% endblock %}
