{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
<div class="welcome-section mt-5 pt-5">
    <div class="container text-center ">
        <h1>Welcome to Story Corner!</h1>
        <p>Explore, read, and share your favorite stories. Dive into a world of love, romance, horror, and adventure. Join our community and start your storytelling journey today!</p>
        <a href="#" class="btn btn-outline-secondary">Get Started</a>
    </div>
</div>

<!-- Main Content -->
<div class="container mt-5 pt-4">
    <div class="d-flex flex-row">
        {%for story in stories%}
          <div class="p-2">
            <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{story.title}}</h5>
            <h6 class="card-text">{{story.category}}.</h6>
            <p class="card-text">{{story.content[:150]}}.</p>
            <a href="{{url_for('view_story', story_id=story.id)}}" class="text-dark">Read more..</a><br>        
          </div>
        </div>
        
          </div>
        {% endfor %}
        
</div>


{% endblock %}