{% extends 'base.html' %}

{% block title %}New Story{% endblock %}

{% block content %}

<div class="container w-50 mt-5 pt-5">
    <h3>Share Your Amazing Story!</h3>
    <p class="lead">Every story has a magic of its own. Fill in the details below to start sharing yours.</p>
        <form method="POST" action="{{ url_for('submit_story') }}"  enctype="multipart/form-data" class="mt-5">

            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="title">Enter Title </label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="category">Enter Category</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                {{ form.content }}
            </div>
            <div class="form-group">
                {{ form.images }}
            </div>
            <div class="form-group">
                {{ form.submit }}
                <input type="reset" value="Clear" class="btn btn-secondary">
                <a href="{{ request.referrer }}" class="btn btn-warning">Cancel</a>
            </div>            
        </form>
        <div class="mt-5">
            <h5>Need Inspiration?</h5>
            <p>Take a look at some of the amazing stories shared by our community! <a href="{{ url_for('index') }}" class="text-secondary">Explore Stories</a>
            </p>
            
        </div>

      </div>
</div>



{% endblock %}